h1{
    color:blueviolet;
    background-color: grey;

}

p{
    color:white;
    background-color: black;

}

button{
    color:white;
    background-color: blue;
}

h2{
    color:orange
}
h3{
    color:#ffff00;
}
h4{
    color:#0000ff;
}